{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <title>{% block title %}Child Care{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel='stylesheet'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block head %}
        
        {% block style %}
        {% endblock %}
        
        {% endblock%}
    </head>
    <body>
        
        {% block content %}
        {% csrf_token %} {{ form.as_p }}
        
        {% endblock%}
        
    </body>
</html>

