{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %} 
<style>
   
    body{
        /* background-image: url("{% static 'images/pexels-katerina-holmes-5905492.jpg' %}"); */
        background-image: url("{% static 'images/20210118_204155.jpg' %}") ;
        /* background-image: url("{% static 'images/20210119_091026.jpg' %}") no-repeat ; */
              
        background-position: contain;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%; 
        
    }
    #te{
        color: white;
    }
        
</style> 
{% endblock %}
{% endblock %}
<body id='bod'>
{% block content %}

<nav>
    <h1 id="te">Playtime Nursery School</h1>
        <h2 id="te">& Learning Center</h2>

    <button type="button">
       
    </button>

</nav>
    
{% endblock %}
</body>
