{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
<style>

</style>
{% endblock %}
{% endblock %}

<body id='bod'>
    {% block content %}
    <nav>
        <h1 id="tee">Playtime Nursery School</h1>
        <h2 id="tee">& Learning Center</h2>
    </nav>
    
          <h5>{{ my_text }}</h5>
    <div id='img1'>
        <img src="{% static '/images/20210119_222527.jpg' %}" alt='girl on bike' width='250px' height='250px'> 
    </div>
    <div id="img2">
        <img src="{% static '/images/20210119_223746.jpg' %}" alt='group of children learn art' width='250px' height='250px'> 
    </div>
    <div id="img3">
        <img src="{% static '/images/20210118_222042.jpg' %}" alt='learning center' width='250px' height='250px'>
    </div>
    <div id="img4">
        <img src="{% static '/images/20210119_223846.jpg' %}" alt='group of children learn outdoors' width='250px' height='250px'>
    </div>
    <div id="img5">
        <img src="{% static '/images/20210119_225959.jpg' %}" alt='group of children in museum' width='250px' height='250px'>
    </div>
    <div id="img6">
        <img src="{% static '/images/20210119_222405.jpg' %}" alt='Sun Watch building' width='250px' height='250px'>  
    </div>

    {% endblock %}
</body>