{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
<style>
    body
    {
        margin-left: 20px;
    }
</style>
{% endblock %}
{% endblock %}

<body id="bod">
    {% block content %}
    <nav class='topnav'>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="two">& Learning Center</h2>
            <div class="mainMenu">
                <a href='home/'>Home</a>
                <a href='staff/'>Staff</a>
                <a href='contact/'>Contact</a>
                <a href='logout/'>Logout</a>
            </div>
    </nav>
    
        <h5 id='te'>{{ my_text }}</h5>
    <div id='img1'>
        <img src="{% static '/images/20210119_222527.jpg' %}" alt='girl on bike' width='250px' height='250px'> 
    </div>
    <div class="ply">
        <div>
           <h5>Early Learning Ages</h5>
           <p>18 months - 5 years</p>
        </div>
        <div>
           <h5>Hours</h5>
           <p>Monday - Friday</p>
           <p>6:00am - 6:00pm</p>
        </div>
        <div>
           <h5>School Ages</h5>
           <p>5 years - 12 years</p>
        </div>
    </div>
    <br>
    <div id="img2">
        <img src="{% static '/images/20210119_223746.jpg' %}" alt='group of children learn art' width='250px' height='250px'> 
    </div>
    <div class="pns">
        <p>
            Playtime has been in the west Dayton area 30 years. Assisting families with their children and children education. Playtime is all about showing children fun ways of learning, rules, sharing and playing together. Playtime has helped children prepare for entering kindergarten as well as children in their early years of school.
        
            We make sure all children are treated like our own. Playtime believe in cooking real food for our children instead of serving them precooked GMO foods, a child mind is enhanced the greater their health is addressed.
        </p>
    </div>
    
    

    {% endblock %}
</body>