{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
<style>

</style>
{% endblock %}
{% endblock %}

<body id='bod'>
    {% block content %}
    <nav>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="te">& Learning Center</h2>
    </nav>
    
          <h5>{{ my_text }}</h5>
    <div>
        <img src="{% static '/images/20210118_222042.jpg' %}" alt='girl on bike' width='50px' height='50px'> 
    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>

    {% endblock %}
</body>