{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
<style>
    body{
        margin-left: 20px;
    }   
</style>
{% endblock %}
{% endblock %}

<body id="bod">
    {% block content %}
    <nav>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="te">& Learning Center</h2>
        <button id='hme' type='button'>
            <a href='logout/'>Logout</a>
        </button>
        <button id='hme' type='home'>
            <a href='home/'>Home</a>
        </button>
        <button id='hme' type='button'>
            <a href='playtime/'>Playtime</a>
        </button>

    </nav>
    <p>This is About Page</p>
    {% endblock %}
</body>