{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
<style>
    body{
        margin-left: 20px;
    }   
</style>
{% endblock %}
{% endblock %}

<body id="bod">
    {% block content %}
    <nav class='topnav'>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="two">& Learning Center</h2>
        <div class="mainMenu">
            <a href='home/'>Home</a>
            <a href='playtime/'>Playtime</a>
            <a href='contact/'>Contact</a>
            <a href='logout/'>Logout</a>
        </div>
    </nav>
    <p>This is Staff Page</p>
    {% endblock %}
</body>