{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
    <style>
        body {
            background-image: url("{% static 'images/20210130_204401.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
            padding-bottom: 10px;
    
        }
        #cld
        {
            color: white;
        }
        #regc
        {
            color: rgb(196, 5, 5)
        }        
    </style>
{% endblock %}

{% endblock %}


{% block content %}
    <nav>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="te">& Learning Center</h2>
        <button type='submit'>
            <a href='home/'>Home</a>
        </button>
    </nav>
    <br>
    <div >
        <h1 id="regc">
            {% block title %}Create Child Account{% endblock %}
        </h1>
    </div>
    <br>
    <div class="container">
        <form class="form-group" id="cld" autocomplete="off" method="post" action="{url 'child/'}">
            {% csrf_token %} {{ form.as_p }}
    
        <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
{% endblock %}
