{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block style %}
    <style>
        body {
            /* background-image: url("{% static 'images/20210130_204401.jpg' %}"); */
            background-color: burlywood;
            background-repeat: no-repeat;
            background-size: 100vw 100vh;
            padding-bottom: 10px;
            margin-left: 20px;
    
        }
    </style>
{% endblock %}

{% endblock %}

<body id="bod">
{% block content %}
    <nav class='topnav' id='cca'>
        <h1 id="te">Playtime Nursery School</h1>
        <h2 id="te">& Learning Center</h2>
        <div class='mainMenu'>
            <a href='home/'>Home</a>
            <a href='staff/'>Staff</a>
            <a href='contact/'>Contact</a>
            <a href='playtime/'>Playtime</a>
        </div>
    </nav>
    <br>
        <div id="rec">
            <h1>
                {% block title %}Create Child Account{% endblock %}
            </h1>
        </div>
        
    <br>
    <div class="container">
        <form class="form-group" id="cld" autocomplete="off" method="post">
            {% csrf_token %} {{ form.as_p }}
            
            <button id='all_btn' type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
    
    {% endblock %}
</body>