{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
   {% block style %}
   <style>
    body {
        background-image: url("{% static 'images/20210119_091026.jpg' %}");

        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 20px;
        width: 100%;
        height: 100%;

    }
    </style>
    {% endblock %}
{% endblock%}

<body id="bod">
{% block content %}
<nav style='margin-top:1em; ' >
    <h1 id="lg">Playtime Nursery School</h1>
    <h2 id="lg">& Learning Center</h2>
</nav>
    <div id="log title" style='float:right; margin-right:25p;'>
        <h1 id='lg'>
            {% block title %}Log In{% endblock %}
        </h1>
    </div>
<br>
{% if form.errors %}
<p>Your username and password do not match. Please try again.</p>
{% endif%}
<div id='ctn' class="container" style='margin-top: 5em;'>
    <form class="form-group" id="log" autocomplete="off" method="post" action="{url 'login'}">
        {% csrf_token %} {{ form.as_p }}

        <button id='all_btn' type="submit" class="btn btn-success">Log In</button>


    </form>
</div>
<br>
<button id='log_btn' type='button'>
    <a href='home/'>Home</a>
</button>
{% endblock %}
</body>