{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block style %}
<style>
    body {
        background-image: url("{% static 'images/20210119_223010.jpg' %}");
        background-repeat: no-repeat;
        background-size: 50vw 100vh;
        padding-bottom: 10px;
          
    }
</style>
{% endblock %}

<body>
    {% block content %}
    <div id="regt">
        <h1>
        {% block title %}Create a Account{% endblock %}
        </h1>
    </div>
    <br>
<div class="container">
    <form class="form-group" id="reg"  autocomplete="off" method="post" action="{url 'register'}">
        {% csrf_token %} {{ form.as_p }}
        
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>

{% endblock %}
</body>