{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    <style>
    body {
        background-image: url("{% static 'images/20210119_223010.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        padding-bottom: 10px;
        padding: 1em;
        margin-left: 20px;
          
    }
    /* #regt
    {
        color: white;
        float: right;
    } */
    /* #reg
    {
        color: white;
    } */
    
    </style>
    {% endblock %}
{% endblock %}

{% block content %}
<body id="bod">

    <nav class="topnav">
        <h1 id="bee">Playtime Nursery School</h1>
        <h2 id="bee">& Learning Center</h2>
        
        <div class='regt'>
            <a href='home/'>Home</a>
            <a href='contact/'>Contact</a>
        </div>
        <br>
        <div id="regt1" >
            <h1>
                {% block title %}Create a Account{% endblock %}
            </h1>
        </div>
    </nav>
    <br>
    <div class="container">
        <form class="form-group" id="reg"  autocomplete="off" method="post" >
            {% csrf_token %} {{ form.as_p }}
            
            <button id='all_btn' type="submit" value='submit' class="btn btn-success">Register</button>
        </form>
    </div>
    <!-- <button id='reb' type='button'>
        <a href='accounts/logout'>Logout</a>
    </button>
    <button id='reb' type='button'>
        <a href='home/'>Home</a>
    </button> -->

</body>
{% endblock %}