#bod
{
    border-width: 23px;
    
    margin-left: 20px;
}
#hme
{
    font-weight: bolder;
    padding: 5px;
    border-color: black;
    border-radius: 30px;

}
/* #te
{
    color: rgb(196, 5, 5);
    margin-top: 1rem;
    
} */
/* #two
{
     color: rgb(196, 5, 5); 
} */
#fee
{
    color: rgb(196, 5, 5);
    margin-top: 44rem;
}
#bee
{
    color: #ff0000;
}
#lg 
{
    color: white;
}
#log_btn
{
    margin-top: 30em;
    font-weight: bold;
    padding: 5px;
    float: right;
    border-radius: 30px;
}
#lgo
{
    color: blue;
}
#ctn
{
    float: left;
}
#all_btn
{
    border-radius: 20px;
}
#reb
{
    border-color: blue;
    background-color: #ff0000;
    border-radius: 20px;
}
#chd
{
    margin-top: 15em;
    border-radius: 20px;
}
#cld
{
    color: #ffffff;
}
#rec
{
    color: rgb(196, 5, 5);
    float: right;
    border-bottom-style: dotted;
    border-bottom-color: black;
}
.navbar-collapse
{
    display: none;
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0px, 8px, 16px, 0px rgba(0,0,0,0.2);

}
/* .dropdown-content
{
    display: block;
} */
.icon-bar1 .icon-bar2 .icon-bar3
{
    width: 45px;
    height: 9px;
    color: rgb(196, 5, 5);
    background-color: rgb(196, 5, 5);
    margin: 6px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px grey;
    transition: all .5s ease-in-out;
} 
.nave .menu #menuBtn .icon-bar1
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
} 
.nave .menu #menuBtn .bar2
{
    opacity: 0;
}
.nave .menu #menuBtn .bar3
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.header
{
    background: blue;
    flex-wrap: wrap;
    width: 100vw;
} 
.nave #mainMenu li a:hover
{
    background: rgb(196, 5, 5);
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px, 20px;
    text-decoration: none;
}
.nave #mainMenu
{
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
#menuList
{
    background-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
} 
@media screen and (max-width:767px)
{
    .nave .mainMenu li a 
    {
        padding: 10px;
    }
    .nave .mainMenu
    {
        display: none;
    }
    nav-ul.show
    {
        display: inline;
        flex-direction: column;
    }
} 




   