#bod
{
    border-width: 23px;
    border-color: black;
    margin-left: 20px;
}
#hme
{
    font-weight: bolder;
    padding: 5px;
    border-color: black;
    border-radius: 30px;

}
#te
{
    /* color: rgb(196, 5, 5);
    margin-top: 1rem; */
    
}
#two
{
    /* color: rgb(196, 5, 5); */
}
#fee
{
    color: rgb(196, 5, 5);
    margin-top: 44rem;
}
#bee
{
    color: #ff0000;
}
#lg 
{
    color: white;
}
#log_btn
{
    margin-top: 30em;
    font-weight: bold;
    padding: 5px;
    float: right;
    border-radius: 30px;
}
#lgo
{
    color: blue;
}
#ctn
{
    float: left;
}
#all_btn
{
    border-radius: 20px;
}
#reb
{
    border-color: blue;
    background-color: #ff0000;
    border-radius: 20px;
}
#chd
{
    margin-top: 15em;
    border-radius: 20px;
}
#cld
{
    color: #ffffff;
}
#rec
{
    color: rgb(196, 5, 5);
    float: right;
    border-bottom-style: dotted;
    border-bottom-color: black;
}
.dropdown-content
{
    display: inline-block;
    cursor: pointer;
}
/* .bar1 .bar2 .bar3
{
    width: 45px;
    height: 9px;
    background-color: rgb(196, 5, 5);
    margin: 6px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px grey;
    transition: all .5s ease-in-out;
}  */
.change .bar1
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
} 
.change .bar2
{
    opacity: 0;
}
.change .bar3
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.nave
{
    background: black;
} 
#nav ul li a:hover
{
    background: rgb(196, 5, 5);
}  




   