#bod
{
    border-width: 23px;
    
    /* margin-left: 20px; */
}
#hme
{
    font-weight: bolder;
    padding: 5px;
    border-color: black;
    border-radius: 30px;

}
#cca
{
    background-color: gray;
    background-size: cover;
}
/* #te
{
    color: rgb(196, 5, 5);
    margin-top: 1rem;
    
} */
#two
{
     color: rgb(196, 5, 5); 
     /* float: left; */
}
#fee
{
    color: rgb(196, 5, 5);
    margin-top: 44rem;
}
#bee
{
    color: #ff0000;
}
#lg 
{
    color: white;
}
#log_btn
{
    margin-top: 30em;
    font-weight: bold;
    padding: 5px;
    float: right;
    border-radius: 30px;
}
#lgo
{
    color: blue;
}
#ctn
{
    float: left;
}
#all_btn
{
    border-radius: 20px;
}
#reb
{
    border-color: blue;
    background-color: #ff0000;
    border-radius: 20px;
}
#chd
{
    margin-top: 15em;
    border-radius: 20px;
}
#cld
{
    color: #ffffff;
}
#rec
{
    color: rgb(196, 5, 5);
    float: right;
    background-color: gray;
    /* border-bottom-style: dotted; */
    /* border-bottom-color: black; */
}
/* .mainMenu
{
    float: right;
} */
.mainMenu li a:hover
{
    background: rgb(196, 5, 5);
    /* display: inline-block; */
    font-family: 'Courier New', Courier, monospace;
    padding: 10px, 20px;
    /* text-decoration: none; */
}

@media screen and (max-width:767px)
{
    .nave .mainMenu li a 
    {
        padding: 10px;
    }
    .nave .mainMenu
    {
        display: none;
    }
    nav-ul.show
    {
        display: inline;
        flex-direction: column;
    }
} 
#eml
{
    background-color: bisque;
}
/* .topnav 
{
    background-color: beige;
    overflow: hidden;
    
    
} */

/* #con
{
    margin-left: 20px;
}
#con2
{
    margin-right: 20px;
} */



   